extends layout

block content
    table
        tr
            th SNUM
            th Avatar
            th First Name
            th Last Name
            th Age

        tr
            td=student._id
            td
              img#avatar(src=student.userAvatar)
            td=student.firstName
            td=student.lastName
            td=student.age
    a(href='/student') Back